@import url("https://fonts.googleapis.com/css?family=Didact%20Gothic");

body {
    position: relative;
    background-color: #efefef;
}

header.navigation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: rgb(235, 13, 13)
}

#maintitle {
    font-size: 30pt;
}

#content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: white;
    padding: 1em 6em 3em 6em;
}

.topImage {
    width: calc(100% + 12em);
    transform: translate(-6em, -1em);
    position: relative;
    left: 0px;
    top: 0px;
    height: 16vw;
    object-fit: cover;
}

.tile {
    border: 5px solid #efefef;
    padding: 5px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
}

.tile:link, .tile:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.clickable:hover {
    filter: saturate(1.6);
}

.tile header, .tile header::after {
    font-family: 'Didact Gothic';
    width: calc(100% - 5px);
    font-size: 170%;
    padding: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tile header::after{
    content: "";
    height: 0.66em;
    opacity: 0.6;
    background-image: url("./frost.png");
    z-index: -1;
}

.staticcontent {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 80em;
    padding: 40px;
    background-color: white;
}