body {
    position: relative;
    background-color: #efefef;
}

#content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 80em;
    height: 42em;
}

.tile {
    border: 5px solid #efefef;
    padding: -5px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
}

.tile:link, .tile:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.tile:hover {
    
}

.tile header, .tile header::after {
    width: 100%;
    font-size: 170%;
    padding: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tile header::after{
    content: "";
    height: 0.66em;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    opacity: 0.6;
    background-image: url("./frost.png");
    z-index: -1;
}